<%- include('./partials/head') %> <%- include('./partials/navbar', {
desks:desks, user_name: user_name, page: 'settings' }) %>

<style>
  .color_div {
    width: 30px;
    border-radius: 50%;
    height: 30px;
  }

  .custom_row {
    display: flex;
    align-items: center;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-12 mt-2">
      <h1>Impostazioni</h1>
      <hr />
      <div class="row mb-4">
        <div class="col-12">
          <h4 style="text-decoration: underline; font-weight: 900;">Servizi</h4>
        </div>
        <% services.map((service) => { %>
        <div class="col-12">
          <div class="row p-2 custom_row">
            <div class="col-4 mt-1">
                <input class="form-control" type="text" value="<%= service.name %>">
            </div>
            <div class="col-2">
              <input
                type="text"
                class="form-control"
                value="<%= service.code  %>"
              />
            </div>
            <div class="col-3">
                <input class="jscolor form-control" id="" value="<%= service.color  %>">
            </div>

            <div class="col-2 offset-1">
              <button class="btn btn-primary">Salva</button>
              <button class="btn btn-danger">Elimina</button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>


    <br> <br>
      <div class="row mb-4">
        <div class="col-12">
          <h4 style="text-decoration: underline; font-weight: 900;">Sportelli</h4>
        </div>
        <% desks.map((desk) => { %>
        <div class="col-12">
          <div class="row p-2 custom_row">
            <div class="col-4 mt-1">
                <input class="form-control" type="text" value="<%= desk.name %>">
            </div>
            <div class="col-2">
              <input
                type="text"
                class="form-control"
                value="<%= desk.code  %>"
              />
            </div>
            <div class="col-3">
              <input class="jscolor form-control" id="" value="<%= desk.color  %>">
            </div>


            <div class="col-2 offset-1">
              <button class="btn btn-primary">Salva</button>
              <button class="btn btn-danger">Elimina</button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

      <br> <br>
      <div class="row mb-4">
        <div class="col-12">
          <h4 style="text-decoration: underline; font-weight: 900;">Utenti</h4>
        </div>
        <% users.map((user) => { %>
        <div class="col-12">
          <div class="row p-2 custom_row">
            <div class="col-4 mt-1">
                <input class="form-control" type="text" value="<%= user.name %>">
            </div>
            <div class="col-3">
              <input
                type="text"
                class="form-control"
                value="<%= user.email  %>"
              />
            </div>

            <div class="col-2">
              <input
                type="text"
                class="form-control"
                placeholder="Nuova password"
              />
            </div>
            

            <div class="col-2 offset-1">
              <button class="btn btn-primary">Salva</button>
              <button class="btn btn-danger">Elimina</button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
